.sidebar {
    background-color:cyan;
    border:solid black 1px;
    padding: .25rem;
}

.sidebarButton { 
    width:2rem;
    height:1.5rem;
    position:sticky;
    right:0;
    top:2rem;
    cursor: pointer;
}

.sidebarContainer {
    position:sticky;
    /* right:0; */
    top:3.5rem;

    text-align: left;
    width: fit-content;


}